 .background{
    background-color:#0b0b0b;
    text-align: center;
 }
 .bulb{
    width: 150px;
 }
 .cat-img{
    width: 350px;
 }
 h1{
    color: aliceblue;

 }
 .switch{
    border-radius: 16px;
    background-color: grey;
    height: 150px;
    margin-left: 550px;
    margin-right: 550px; 
    padding: 10px;   
}
.on-switch {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    border-radius: 8px;
    width: 99px;
    height: 44px;
    margin-left: 16px;
    background-color: #cbd2d9;
  }
  .off-switch {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    border-radius: 8px;
    width: 99px;
    height: 44px;
    background-color: #e12d39;
  }
  .padding{
    padding-bottom: 20px;
  }